<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Page for <%= @user.name %></h1>

<% if @user.events.upcoming_events.any? %>
  <h2>Upcoming Events (<%= @user.events.upcoming_events.count %>)</h2>
  <% @user.events.upcoming_events.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
  <% end %>
<% end %>

<% if @user.events.previous_events.any? %>
  <h2>Previous Events (<%= @user.events.previous_events.count %>)</h2>
  <% @user.events.previous_events.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
  <% end %>
<% end %>

<% if @user.attended_events.any? %>
  <h2>Attending Events (<%= @user.attended_events.count %>)</h2>
  <% @user.attended_events.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
    <span>Hosted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>