<% provide(:title, @user.name) %>

<h1>Page for <%= @user.name %></h1>

<% if @user.events.upcoming.any? %>
  <h2>Upcoming Events (<%= @user.events.upcoming.count %>)</h2>
  <% @user.events.upcoming.each do |event| %>
    <h3><%= render partial: 'links', locals: {event: event} %></h3>
  <% end %>
<% end %>

<% if @user.events.previous.any? %>
  <h2>Previous Events (<%= @user.events.previous.count %>)</h2>
  <% @user.events.previous.each do |event| %>
    <h3><%= render partial: 'links', locals: {event: event} %></h3>
  <% end %>
<% end %>

<% if @user.attended_events.any? %>
  <h2>Attending Events (<%= @user.attended_events.count %>)</h2>
  <% @user.attended_events.each do |event| %>
    <h3>
      <%= link_to "Leave", event_invite_path(event, attendee: @user), method: :delete %>
      <%= link_to event.title, event %>
    </h3>
    <span>Hosted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>