<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h1>All Events</h1>

<% if @upcoming_events.any? %>
  <h2>Upcoming Events (<%= @upcoming_events.count %>)</h2>
  <% @upcoming_events.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
    <span>Posted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>

<% if @previous_events.any? %>
  <h2>Previous Events (<%= @previous_events.count %>)</h2>
  <% @previous_events.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
    <span>Posted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>
