<% provide(:title, "Events") %>
<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h1>All Events</h1>

<% if @events.upcoming.any? %>
  <h2>Upcoming Events (<%= @events.upcoming.count %>)</h2>
  <% @events.upcoming.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
    <span>Posted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>

<% if @events.previous.any? %>
  <h2>Previous Events (<%= @events.previous.count %>)</h2>
  <% @events.previous.each do |event| %>
    <h3><%= link_to event.title, event %></h3>
    <span>Posted by <%= link_to event.creator.name, event.creator %></span>
  <% end %>
<% end %>
