<% provide(:title, @event.title) %>
<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<h1>Page for <%= @event.title %></h1>
<h2>Created by <%= link_to @event.creator.name, @event.creator %></h2>

<h2>Description</h2>
<p><%= @event.description %></p>

<h2>Location</h2>
<p><%= @event.location %></p>

<h2>Date: <%= @event.date %></h2>

<h2>
  <%= link_to "Edit", edit_event_path %>
  <%= link_to "Delete", @event, method: :delete %>
</h2>

<% if logged_in? && current_user?(@event.creator) %>
  <h2>Invite Attendees</h2>
  <% @uninvited_users.each do |user| %>
    <h3>
      <%= link_to "Invite", event_invite_index_path(@event, attendee: user), method: :post %>
      <%= link_to user.name, user %>
    </h3>
  <% end %>
<% end %>

<% if @event.attendees.any? %>
  <h2>Attendees (<%= @event.attendees.count %>)</h2>
  <% @event.attendees.each do |user| %>
    <h3>
      <% if logged_in? && current_user?(@event.creator) %>
        <%= link_to "Uninvite", event_invite_path(@event, attendee: user), method: :delete %>
      <% end %>
      <%= link_to user.name, user %>
    </h3>
  <% end %>
<% end %>