        <p id="progress">
            <% array = [] %>
            <% progress.split(//).each do |letter| %>
                <% if letter == '_' %>
                    <% array << " #{letter} " %>
                <% else %>
                    <% array << " <span class='right_letter'>#{letter}</span> " %>
                <% end %>
            <% end %>
            <%= array.join.strip %>
        </p>
        <% if status == "win" %>
            <p id="win_lose">You are victorious!</p>
        <% elsif status == "lose" %>
            <p id="win_lose">You have been defeated!</p>
            <p>The answer was <%= answer %>.</p>
        <% else %>
            <form id="guess">
                <input type="text" name="guess" pattern="[A-Za-z]{1}" size="2" autofocus/>
                <input type="submit" value="Guess"/>
            </form>
            <p id="tries">
                <span id="tries_number"><%= tries %></span>
                <% if tries != 1 %>
                    tries
                <% else %>
                    try
                <% end %>
                left!
            </p>
        <% end %>
        <p id="wrong_guesses">
            <% array = [] %>
            <% bad_guesses.each { |letter| array << "<span class='wrong_letter'>#{letter}</span>" } %>
            Wrong guesses: <span id="wrong_guesses_list"><%= array.join(', ') %></span>
        </p>
        <nav class="buttons">
            <a href="<%= url('/newgame') %>">New Game</a>
            <a href="<%= url('/save') %>">Save</a>
            <a href="<%= url('/load') %>">Load</a>
        </nav>
