<h1>New Booking</h1>

<%= form_for @booking do |f| %>

  <%= f.fields_for :passengers do |passenger_form| %> 
  
    <%= passenger_form.label :title, "Passenger #{passenger_form.options[:child_index] + 1}" %>
    
    <%= passenger_form.label :name %>
    <%= passenger_form.text_field :name, class: 'form-control' %>
    
    <%= passenger_form.label :email %>
    <%= passenger_form.email_field :email, class: 'form-control' %>
    
  <% end %>
  
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.submit "Make Reservation", class: "btn btn-primary" %>
  
<% end %>