<h1>Flights</h1>

<%= form_tag(flights_path, method: :get) do %>

  <%= label_tag "From" %>
  <%= collection_select :flight, :origin_id, Airport.all, :id, :code %>
  
  <%= label_tag "To" %>
  <%= collection_select :flight, :destination_id, Airport.all, :id, :code %>

  <%= label_tag "Passengers" %>
  <%= select :booking, :passengers, @passenger_count %>
  
  <%= label_tag "Date" %>
  <%= select :flight, :date, @flight_dates %>
  
  <%= submit_tag "Search" %>
  
<% end %>

<% if @flights %>
  <% @flights.each do |flight| %>
    <p>From: <%= flight.origin.code %>, To: <%= flight.destination.code %>, Date: <%= flight.start_date %>, Duration: <%= flight.duration %></p>
  <% end %>
<% end %>