<h1>Flights</h1>

<%= form_tag(flights_path, method: :get) do %>

  <%= label_tag "From" %>
  <%= collection_select :flight, :origin, Airport.all, :code, :code %>
  
  <%= label_tag "To" %>
  <%= collection_select :flight, :destination, Airport.all, :code, :code %>

  <%= label_tag "Passengers" %>
  <%= select :booking, :passengers, @passengers %>
  
  <%= label_tag "Date" %>
  <%= select :flight, :date, @dates %>
  
  <%= submit_tag "Search" %>
  
<% end %>

<% if @flights %>
  <% @flights.each do |flight| %>
    <p>
      From: <%= flight.origin.code %>,
      To: <%= flight.destination.code %>,
      Date: <%= flight.date_formatted %>,
      Time: <%= flight.time_formatted %>,
      Duration: <%= flight.duration_formatted %></p>
  <% end %>
<% end %>