<h1>Flights</h1>

<%= form_tag(flights_path, method: :get) do %>

  <%= label_tag "From" %>
  <%= select :flight, :origin, @airports %>
  
  <%= label_tag "To" %>
  <%= select :flight, :destination, @airports %>

  <%= label_tag "Passengers" %>
  <%= select :booking, :passengers, @passenger_count %>
  
  <%= label_tag "Date" %>
  <%= select :flight, :date, @flight_dates %>
  
  <%= submit_tag "Search" %>
  
<% end %>
